// Colors
$body-bg: #FFFFFF;
$inverse-body-bg: black;
$border: #CCCCCC;
$danger: #f24747;
$ok: #406619;
$primary: #5bc0de;

// Fonts
$fontSize-large: 24px;
$fontSize-small: 12px;
$fontSize-medium: 18px;
$fontSize-xlarge: 42px;
$fontSize-massive: 84px;
$font-weight-semibold: 600;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;


$navbar-height: 51px;
$headings-line-height: 1.25;
$break-lg: 768px;
$space: 1.5em;
$space-lg: 2em;