.board {
  position: relative;
  height: 100%;
  margin: 40px 0 0 0;
  padding: 50px 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  &__item {
    opacity: 1;

    &--dragged {
      opacity: 0.5;
    }
  }

  &__item {
    width: 90%;
    margin: 0 auto 10px;
    background: #fff;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transition: 0.15s;
    cursor: pointer;

    &__name {
      padding: 5px 10px;
      border-bottom: 1px solid #dbdbdb;
      white-space: normal;
      word-break: break-all;
    }

    &:hover {
      background: #f7f7f7;
    }

    &__placeholder {
      height: 161px;
      background-color: #d0d0d0;
    }
  }

  &__item, &__item-container {
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
    word-wrap: break-word;
    white-space: initial;
  }


  .item {
    width: 90%;
    margin: 0 auto 10px;
    background: #fff;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transition: 0.15s;
    cursor: pointer;
  }

  .item:hover {
    background: #f7f7f7;
  }

  .item .item-name {
    padding: 5px 10px;
    border-bottom: 1px solid #dbdbdb;
    white-space: normal;
    word-break: break-all;

  }

  .item .item-container {
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
    word-wrap: break-word;
    white-space: initial;
  }

}

.desk,
.desk-placeholder,
.desk-placeholder:hover {
  width: 270px;
  display: inline-block;
  height: 89vh;
  overflow: hidden;
  min-height: 100px;
  background-color: #e2e4e6;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 3px;
  padding-bottom: 20px;
  margin-right: 20px;
  vertical-align: top;
}

.desk .desk-head,
.desk-placeholder .desk-head,
.desk-placeholder:hover .desk-head {
  position: relative;
  padding: 5px 8px;
  margin-bottom: 10px;
}

.desk .desk-head .desk-name,
.desk-placeholder .desk-head .desk-name,
.desk-placeholder:hover .desk-head .desk-name {
  font-weight: bold;
  white-space: normal;
  width: 100%;
}

.desk-items {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 20px;
}

.desk-items.cannot-drop {
  background-color: $danger;
}

.desk-items .placeholder,
.desk-items .placeholder:hover {
  height: 161px;
  background-color: #d0d0d0;
}